<div ui-view="navbar"></div>
<div class="frameContainer" layout layout-align="center"layout-wrap style="padding-top:80px;padding-left:1px;padding-right:1px;" id="popupContainer">
        <md-whiteframe class="md-whiteframe-1dp"  layout="row" flex-xs="90" flex-gt-sm="70" flex-gt-md="60" layout layout-align="center center">
          <div style="text-align:center;">Your email is verified</div>
          <div style="text-align:center;"><md-button class="md-primary" ng-click="login()">OK</md-button></div>
      <!-- <md-content flex="100" style="padding-top:0px;padding-left:0px;padding-right:0px;" id="mobileVerify">
                <div flex="100" layout="row" style="padding-top:20px;padding-bottom:20px;">
                         <div style="padding-left:10px;">Your mobile verification code send to register mobile number</div>
                </div>
             <div flex="100" layout="row" layout-align="center center">
                         <md-input-container flex="40">
                              <div style="color:blue;"><h2>{{user.mobile}}  <!-- <input ng-model="user.mobile" name="mobile" value="{{user.mobilecode}}"disabled style="color:bule;"> -
                        <!--  </md-input-container>
              </div>
              <div flex="100" layout="row" layout-align="center center">
                         <md-input-container flex="40">
                        <label><span class="glyphicon glyphicon-phone-alt"></span> Enter Mobile verification code</label>
                        <input ng-model="user.code" name="code" required>
                  </md-input-container>
              </div>
              <div flex="90" layout="row" layout-align="center center">
                  <md-input-container flex="100" layout-align="center center">
                     <div style="text-align:center;"><md-button class="md-primary" ng-click="submitCode()">OK</md-button></div>
                  </md-input-container>
              </div>
             </md-content> --> 
      </md-whiteframe>
</div>