<div ui-view="navbar"></div>
<div class="frameContainer" layout layout-align="center"layout-wrap style="padding-top:80px;padding-left:1px;padding-right:1px;">
        <md-whiteframe class="md-whiteframe-1dp"  layout="row" flex-xs="90" flex-gt-sm="70" flex-gt-md="30" layout layout-align="center center">
        <md-content flex="100" style="padding-top:0px;padding-left:20px;padding-right:20px;">
        <form name="userForm" style="padding-top:0px;padding-left:0px;">
                <div flex="100" layout="row"layout-align="center center">
                        <h3>Login</h3>
               </div>
               <div flex="100" layout="row">
                  <md-input-container flex="100">
                        <label for="input_0"><span class="fa fa-user"></span> Email Address</label>
                        <input type="email" ng-model="user.email" name="email">
                         <div id="emailMsg1" style="color:red;"> {{emailMsg}} </div>
                  </md-input-container>
              </div>
               <div flex="100" layout="row" style="padding-bottom:0px;">
                  <md-input-container flex="100" style="padding-bottom:0px;">
                        <label for="input_1"><span class="fa fa-unlock-alt"></span> Password</label>
                        <input type="password" ng-model="user.password" name="password">
                         <div id="passMsg1" style="color:red;"> {{passMsg}} </div>
                  </md-input-container>
              </div>
           <div flex="100"layout="row" class="md-inline-form" layout layout-align="center center" style="padding-top:0px;">
          <button style="padding-top:0px;" ng-click="login()" class="md-primary pull-right md-button md-default-theme"type="submit" flex="100"><span class="ng-scope">Login</span></button>
        </div>
        <div flex="100" layout="row" style="padding-right:0px;">
                  <md-input-container flex="100" style="padding-right:0px;">
                        <div style="text-align:right;padding-right:0px;font-size:10p"><a ui-sref="forgot"><md-button class="md-primary" class="pointer pull-right"><h6>Forgot Password</h6></md-button></a></div> 
                  </md-input-container>
        </div>
        </form>
      </md-content>
      </md-whiteframe>
</div>