<nav class="navbar navbar-inverse"  style="padding-bottom:0px;margin-bottom:0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a ui-sref="/" class="navbar-brand" style="padding-top:0px;padding-left:0px;"><img src="https://s3.amazonaws.com/myfirstbkt2016/pal-logo.png" height="50" width="160"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a >Home</a></li>
    </ul>
   <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
   </ul>
  </div>
</nav>