html,body {
	width: 100%;
}
.quick-active {
  background-color: #f5f5f5;
}
.responsive-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-size: cover;
  background-color: #464646;
}
a:hover {
  text-decoration: none;
}
.logo-holder {
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  top: 0px;
  text-align: center;
}
.logo-holder img {
  max-width: 70px;
  position: absolute;
  vertical-align: middle;
}
.logo-holder .upload-hover {
  opacity: 0;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 1000;
}
.logo-holder .upload-hover:hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  /*visibility: hidden;*/
  /*width: 300px;*/
}

#login-nimbus .doc-add .logo-holder img {
  max-width: 80px;
  left: -5px;
  top: -5px;
}

#login-nimbus .verify .logo-holder img {
  max-width: 80px;
  left: -5px;
  top: -5px;
}
 {
    background-image: url("img_tree.gif"), url("img_flwr.gif");
    background-color: #cccccc;
}

div.p_photo-group {
    width: 60px;
    height: 60px;
    background: url(/img/browse-img.png);
    background-size: 60px 60px,cover;
    background-repeat: no-repeat;
    overflow: hidden;    
    position: relative;
}
.p_photo{
  display: block !important;
    width: 60px !important;
    height: 60px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
/*.selectedFile{
  margin-bottom: 20px;
  color: #;
  font-size: 15px;
  font-weight: bolder;
}*/

