<div class="container-fluid" style="margin-left:20px;">
    <div class="row">
      <div class="col-md-2 col-xs-4 register1">
        <div class="list-group">
  <div class="background-blue font-white nav-block bold font-15 list-group-item" style="background-color:#4885ed;font-weight:bold;font-size:15;color:white;">Quicks Links</div>
  <a ui-sref="userdash.home.rides" class="list-group-item font-13">Your Rides</a>
  <a ui-sref="dash.dashHome.bike" class="list-group-item font-13">sdfsdf</a>
  <a ui-sref="doctordash.calendarDisplay" class="list-group-item font-13">dsfsd</a>
  <a ui-sref="doctordash.pendingPrescription" class="list-group-item font-13">dsfsdf</a>
  <a ui-sref="kjkj" class="list-group-item font-13">My dfg</a>
  <a ui-sref="doctordash.calendarDisplay" class="list-group-item font-13">dfgdfg</a>
  <a ui-sref="doctordash.pendingPrescription" class="list-group-item font-13">dfgfd</a>
</div>
    </div>
    <div class="col-md-10 col-xs-8">
      <div  class="row">
        <div class="col-md-1 col-xs-0"></div>
        <div class="col-md-10 col-xs-10" autoscroll="false" ui-view></div>
        <div class="col-md-1 col-xs-0"></div>
      </div>
    </div>
  </div>
</div>
